
/**/__pycache__/
/.coverage
/.idea/
/bin/phing
/composer.lock
/dist/
/docs/_build/
/docs/_static/
/docs/_templates/
/poetry.lock
/test/**/*.actual.scad
/test/coverage.xml
/test/html/
/vendor/
/venv/
